In [3]:
import pandas as pd

building_df = pd.read_csv('./source/Chicago_Energy_Benchmarking_20240220_superset.csv')
building_df.head(3)

,Data Year,ID,Property Name,Reporting Status,Address,ZIP Code,Chicago Energy Rating,Exempt From Chicago Energy Rating,Community Area,Primary Property Type,...,GHG Intensity (kg CO2e/sq ft),Latitude,Longitude,Location,Row_ID,Wards,Community Areas,Zip Codes,Census Tracts,Historical Wards 2003-2015
0,2020,160214,Children's Memorial Hospital sub-building,Not Submitted,700 W Fullerton Ave,60614,0.0,False,LINCOLN PARK,NaN,...,NaN,41.925487,-87.646437,"(41.92548708, -87.64643712)",2020-160214,34.0,68.0,21190.0,798.0,51.0
1,2020,104095,Hall Plaza,Not Submitted,4600 4650 W Diversey Ave,60639,0.0,False,HERMOSA,NaN,...,NaN,41.931623,-87.742526,"(41.93162302, -87.74252593)",2020-104095,17.0,19.0,22615.0,460.0,7.0
2,2020,115108,NaN,Not Submitted,3825 N PINE GROVE AVE,60613,0.0,False,LAKE VIEW,NaN,...,NaN,41.954020,-87.662028,"(41.95402016, -87.6620278)",2020-115108,18.0,57.0,21186.0,725.0,13.0

In [5]:
building_df.columns

Index(['Data Year', 'ID', 'Property Name', 'Reporting Status', 'Address',
       'ZIP Code', 'Chicago Energy Rating',
       'Exempt From Chicago Energy Rating', 'Community Area',
       'Primary Property Type', 'Gross Floor Area - Buildings (sq ft)',
       'Year Built', '# of Buildings', 'Water Use (kGal)', 'ENERGY STAR Score',
       'Electricity Use (kBtu)', 'Natural Gas Use (kBtu)',
       'District Steam Use (kBtu)', 'District Chilled Water Use (kBtu)',
       'All Other Fuel Use (kBtu)', 'Site EUI (kBtu/sq ft)',
       'Source EUI (kBtu/sq ft)', 'Weather Normalized Site EUI (kBtu/sq ft)',
       'Weather Normalized Source EUI (kBtu/sq ft)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'GHG Intensity (kg CO2e/sq ft)', 'Latitude', 'Longitude', 'Location',
       'Row_ID', 'Wards', 'Community Areas', 'Zip Codes', 'Census Tracts',
       'Historical Wards 2003-2015'],
      dtype='object')

In [8]:
building_df['Reporting Status'].value_counts()

Not Submitted    2905
Name: Reporting Status, dtype: int64

In [17]:
building_df['Data Year'].value_counts()

2019    1080
2022     732
2021     608
2020     485
Name: Data Year, dtype: int64

In [22]:
len(building_df['ID'].unique())

1569

In [12]:
building_df[['ID','Property Name','Data Year','Gross Floor Area - Buildings (sq ft)']].head(3)

,ID,Property Name,Data Year,Gross Floor Area - Buildings (sq ft)
0,160214,Children's Memorial Hospital sub-building,2020,257400.0
1,104095,Hall Plaza,2020,53267.0
2,115108,NaN,2020,96636.0

In [30]:
'{:,}'.format(building_df[['ID','Data Year']].count().values[0] * 100)

'290,500'

In [31]:
'{:,}'.format(building_df[['ID','Data Year']].count().values[0] * 9200)

'26,726,000'